@font-face {
	font-family: 'Genos';
	font-display: swap;
	font-style: italic;
	font-weight: 100;
	src: url('fonts/genos.woff2');
}

@font-face {
	font-family: 'Digital 7';
	font-display: swap;
	src: url('fonts/digital-7-monoitalic.ttf');
}

:root {
	--border-color: hsl(300, 100%, 60%);
}

body {
	background-color: #270000;
	background-image: url('img/wood.jpg');
	background-repeat: repeat-x;
	overflow-y: scroll;
}

#instrument-panel {
	max-width:  800px;
	min-height:  100vh;
	padding:  12px;
}

input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	width: 100%;
}

input[type=range]:focus-visible {
	border-radius:  11px 5px;
	outline: var(--border-color) solid 1px;
}

input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background: linear-gradient(to right, hsl(305, 65%, 6%), hsl(305, 65%, 15%));
	border-radius:  11px 5px;
	cursor: pointer;
	height: 16px;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
	background: linear-gradient(to right, hsl(305, 50%, 4%), hsl(300, 50%, 12%));
}

input[type="range"]::-moz-range-track {
	background: linear-gradient(to right, hsl(305, 65%, 6%), hsl(305, 65%, 15%));
	border-radius:  11px 5px;
	cursor: pointer;
	height: 16px;
}

input[type="range"]:hover::-moz-range-track {
	background: linear-gradient(to right, hsl(305, 50%, 4%), hsl(300, 50%, 12%));
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 28px;
	width: 44px;
	border-radius: 3px;
	background-image: linear-gradient(to right, #000, #222 38%, #000 50%, #222 62%, #000 100%);
	cursor: pointer;
	margin-top:  -7px;
}

input[type=range]::-webkit-slider-thumb:hover {
	background: linear-gradient(to right, #222, #444 38%, #222 50%, #444 62%, #222 100%);
}

input[type=range]::-moz-range-thumb {
	height: 28px;
	width: 44px;
	border-radius: 3px;
	border-color: #181818;
	background-color: #000;
	cursor: pointer;
}

.btn-group-toggle .btn {
	border-width: 3px;
}

.btn-group-toggle .btn.active {
	border-style: inset;
}

.btn-group-toggle .btn:not(.active) {
	border-style: outset;
}

.nav-pills .nav-link {
	border-radius: 0;
	font-family: Genos, sans-serif;
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom:  4px;
}

.nav-pills .nav-link:not(.active) {
	color: #808080;
	background-color: hsl(305, 65%, 15%);
}

.nav-pills .nav-item:not(:last-child) {
	margin-right: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #ddd;
	background-color: hsl(305deg 65% 37%);
}

.led-display, .led-display:disabled, .led-display:focus {
	background-color: black;
	border-radius: 0;
	color: #fbb;
	text-shadow:
		0 0 7px #ff9999,
		0 0 10px #804c4c
}

.led-display {
	border-color: #777 #3c3c3c #777 #3c3c3c;
	border-style: inset;
	border-width: 2px;
	font-family: 'Digital 7', monospace;
	font-size:  110%;
	text-align: right;
}

input[type="number"].led-display::-webkit-outer-spin-button,
input[type="number"].led-display::-webkit-inner-spin-button {
	margin-left: 6px;
}

.led-label {
	background-color: black;
	border: 0;
	border-radius: 0;
	color: #ddd;
}

.bg-theme-dark {
	background-color:  hsl(305, 65%, 19%);
}

.w-fit {
	width: fit-content;
}

.custom-control-input:checked~.custom-control-label::before {
	border-color:  #557799;
	background-color: #557799;
}

.grayscale {
	filter:  grayscale(1);
}

.panel {
	background-color:  hsl(305, 57%, 23%);
	border-color:  var(--border-color);
	border-style:  solid;
	border-width:  1px;
	color:  hsl(300, 100%, 73%);
	margin-bottom:  1.5rem;
	padding: 15px 0.75rem;
}

.panel h1 {
	font-family: Genos, sans-serif;
	font-style:  italic;
	font-weight: bold;
}
